body{
    font-family: 'Rajdhani', sans-serif;

}

.box {
    padding-top: 3rem;
    display: flex;
    justify-content: center;

}
code{
    display: flex;
    justify-content: center;
}
.style1{
    animation-name: colorStyle;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes colorStyle {

    0%{
        color: rgb(255, 0, 0);
    }
    10%{
        color: rgb(255, 136, 0);
    }
    20%{
        color: rgb(251, 255, 0);
    }
    30%{
        color: rgb(157, 255, 0);
    }
    40%{
        color: rgb(0, 255, 0);
    }
    50%{
        color: rgb(0, 255, 153);
    }
    60%{
        color: rgb(0, 255, 225);
    } 70%{
        color: rgb(0, 89, 255);
    } 80%{
        color: rgb(38, 0, 255);
    } 90%{
        color: rgb(195, 0, 255);
    }
    1000%{
        color: rgb(255, 0, 153);
    }
    
}

.fsd {

    font-size: 2rem;
    width: max-content;
    color: white;
    text-align: center;
    
    padding: 0;
    
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin-right: 40%; */
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .25em;
    /* Adjust as needed */
    animation:
        typing 5.5s steps(39, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 45%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}




.admin {
    color: white;
    font-size: 100px;
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    letter-spacing: 5px;
    font-family: 'Big Shoulders Stencil Display', cursive;

    /* font-family: 'Ms Madi',cursive; */
    /* font-family: 'Permanent Marker', cursive; */
    text-align: center;
    animation-name: myName;
    animation-duration: 3s;
    padding: 0;
    ;

    /* animation-iteration-count: infinite; */

}

@keyframes myName {

    0% {
        color: rgb(0, 0, 0);
        transform: rotatey(60deg);
    }

    50% {
        color: rgb(255, 255, 255);
        transform: rotatex(30deg);
    }





    /* 0%{color: rgb(15, 15, 100);transform: rotatey(45deg);}
    25% {color: rgb(0, 255, 255);transform: rotatex(30deg);}
    50%{color: rgb(0, 153, 255);transform: rotatey(40deg);}
    55%{color: blueviolet; transform: scale(1.3);}
    75%{color: rgb(0, 153, 255);transform: rotatex(-30deg);}
    100%{color: rgb(0, 0, 0);transform: rotatey(45deg);} 
    */

}

.box2,.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 3rem 0px;
}



 




.cardBox{
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 50px;
}
.alinetxt{
    
    
    display: flex;
    padding-top: 30%;
    padding-bottom: 20%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
    opacity: 0;
    transition: .3s;
    text-decoration: none;
   

}

.bg1{
    background-image: url("./images/hackerred.png");
}
.bg2{
    background-image: url("./images/hackergreen.png");
}
.bg3{
    background-image: url("./images/hackerBlue.png");
}

.card{
    
    background-size: cover;
    font-display:none;
    background-color: black;
    transition: 0.3s;
    overflow: hidden;
}
.card:hover {
    
    transform: scale(1.1);
     
   
    
}
.card:hover .alinetxt{
    color: white;
    opacity: 1;
    backdrop-filter:blur(3px);
    text-decoration: none;
}

 


.adminimg {
    height: 300px;
    /* float: left; */
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 5px rgb(255, 155, 15);
    transition: 0.3s;
    

}
.adminimg:hover{
    box-shadow: 0px 0px 20px 5px white;

}

.abouttxt {
    width: 700px;
    font-size: 2rem;
    margin-top: 20px;
    padding: 1rem;
    color: rgb(207, 189, 168);
    transition: 0.2s;
}

.abouttxt:hover{
    color: white;


}

.social-img{
    height: 50px;

    border: 2px solid rgb(0, 0, 0);
    transition: 0.2s;
}
.social-img:hover{
    padding: 5px;
    border-radius: 20px;

    border-color: rgb(255, 170, 0);
    transform: scale(1.3);
}

.title {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 10px;
    text-decoration:underline;
    font-family: 'Big Shoulders Stencil Display', cursive;
    /* font-family: 'Rajdhani', sans-serif; */

}

.Pimg {
    height: 200px;
    width: 355px;
    /* float: right; */
    border-radius: 10px;
    transition: 0.2s;
}

.Pimg:hover {
    transform: scale(1.1);
}

.Ptxt {
    margin: 0px 30px;
    width: 600px;
    font-size: 1.3rem;
    /* font-family: 'Rajdhani', sans-serif; */
    color: white;
    transition: 0.3s;
}

.Ptxt:hover{
    transform: scale(1.05);
}

.Ptxt a{
    text-decoration: none;
    color: rgb(255, 191, 0);
    

}
.Ptxt a:hover{
    text-decoration: none;
    color: rgb(255, 150, 0);
    
}






#footer {
    margin-top: 60px;
    /* font-family: 'Montserrat', sans-serif; */
}

#footer .cpt {
    /* text-align: center; */
    padding: 20px 0;
    color: #fff;


}

.footersection2 {
    display: flex;
    justify-content: space-evenly;
}

.footerCard {
    width: 400px;

    display: flex;

    flex-direction: column;
}

.social-links-footer {
    color: white;
    font-size: 20px;
    width: fit-content;
    text-decoration: none;
    margin: auto;
    transition: 0.7s;
    font-weight: 600;
    transition: 0.4s;

}

.social-links-footer:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.3);

}


.footerImg {
    height: 150px;
    transition: 1s;
}

.footerImg.hover {
    transform: scale(2);


}

@media (max-width: 600px){
    .fsd{
        font-size: 20px;
        padding: 0px 10px;
    }
    .admin{
        font-size: 80px;
    }

    .cardBox{
        height: 250px;
        width: 250px;
    }
    .alinetxt{
        font-size: 1.2rem;
    }
    #footer{
        font-size: 20px;
    }
}
